[*.cs]

# SA1025: Code should not contain multiple whitespace characters in a row
dotnet_diagnostic.SA1025.severity = suggestion

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1208: System using directives must be placed before other using directives
dotnet_diagnostic.SA1208.severity = none

# SA1210: Using directives should be ordered alphabetically by the namespaces
dotnet_diagnostic.SA1210.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1503: Braces should not be omitted
dotnet_diagnostic.SA1503.severity = suggestion

# SA1314: Type parameter names should begin with T
dotnet_diagnostic.SA1314.severity = none

# SA1111: Closing parenthesis should be on line of last parameter
dotnet_diagnostic.SA1111.severity = none

# SA1009: Closing parenthesis should not be preceded by a space
dotnet_diagnostic.SA1009.severity = none

# SA1118: Parameter should not span multiple lines
dotnet_diagnostic.SA1118.severity = suggestion

# SA1005: Single line comment should begin with a space
dotnet_diagnostic.SA1005.severity = suggestion
